/*
navbar
*/


.row {
    width: 100%;
}


button:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

.navbar-toggler {
    border-color: transparent !important;
}

.nav-link {
    font-size: 20px;
}




.bg-custom {
    background-color: #2e2c2a;
}

.text-bg-custom {
    background-color: #2e2c2a;
}

.offcanvas-title {
    color: #fff;
}
.nav{
  z-index: 2;
}