/*
navbar
*/

html {
    height: 100%;
}

body {
    height: 100%;
    background: rgba(227, 31, 31, 0.76);
}

.row {
    width: 100%;
}


button:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

.navbar-toggler {
    border-color: transparent !important;
}

.nav-link {
    font-size: 20px;
}

.mb-customNav{
    margin-bottom: 56px;
}

.custom-shadow {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
}