.custom {
    width: auto;
    padding-top: 55px;
    margin-left: 8px;
    margin-right: 8px;
}



a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;

}

.card {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6), 0 0 0px rgba(0, 0, 0, 0.1);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.heart {
    width: 23px;
    height: 23px;
}

.likes {
    font-size: 12px !important;
}

.source {
    margin-bottom: 0px !important;
}

.card-preview {
    font-size: 14px;
}