.bild {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media (min-width: 0px) {
    .bildcontainer {
        width: 90%;
    }

    .bildcontainerError {
        width: 70%;
    }

    .heart {
        width: 38px;
    }

    .ptext,
    .ptextOriginal,
    .pinfo {
        font-size: 18px;
    }

    .pquestion {
        font-size: 17px;
    }

    .card {
        font-size: 16px;
    }

    .ptitle {
        font-size: 20px;
        text-align: left;
    }


    .customContainer {
        width: 95%;
    }
}

@media (min-width: 450px) {
    .bildcontainer {
        width: 80%;
    }

    .bildcontainerError {
        width: 50%;
    }

    .ptitle {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .bildcontainer {
        width: 50%;
    }

    .bildcontainerError {
        width: 40%;
    }

    .backgr {
        box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.4);
    }

    .customContainer {
        width: 75% !important;
    }
}


@media (min-width: 992px) {
    .bildcontainer {
        width: 50%;
    }

    .bildcontainerError {
        width: 30%;
    }

    .customContainer {
        width: 80% !important;
    }

    .heart {
        width: 48px;
    }

    .ptext,
    .ptextOriginal,
    .pinfo {
        font-size: 20px;
    }

    .pquestion {
        font-size: 19px;
    }

    .card {
        font-size: 18px;
    }

    .ptitle {
        font-size: 25px;
    }
}

@media (min-width: 1500px) {
    .bildcontainer {
        width: 40%;
    }

    .bildcontainerError {
        width: 25%;
    }

    .customContainer {
        width: 65% !important;
    }

    .ptext,
    .ptextOriginal,
    .pinfo {
        font-size: 23px;
    }

    .pquestion {
        font-size: 22px;
    }

    .card {
        font-size: 21px;
    }


    .ptitle {
        font-size: 28px;
    }
}


@media (min-width: 1600px) {
    .bildcontainer {
        width: 40%;
    }

    .bildcontainerError {
        width: 20%;
    }

    .customContainer {
        width: 60% !important;
    }

    .ptext,
    .ptextOriginal,
    .pinfo {
        font-size: 25px;
    }

    .pquestion {
        font-size: 24px;
    }

    .card {
        font-size: 23px;
    }

    .ptitle {
        font-size: 30px;
    }
}

.customContainer {
    background-color: rgba(152, 35, 35, 0.499);
    border-radius: 50px;
}

.ptext,
.ptextOriginal {
    color: rgba(255, 255, 255, 0.912);
    text-align: left;
    padding: 20px;
}

.ptitle {
    color: rgba(255, 255, 255, 0.912);
    font-weight: bold;
    padding: 20px;
}

.pinfo {
    color: rgba(255, 255, 255, 0.912);
    background-color: rgba(78, 74, 74, 0.311);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.pquestion {
    color: rgba(255, 255, 255, 0.912);
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(100, 34, 8, 0.541);
    padding: 5px;
    border-radius: 10px;
    pointer-events: auto;
    cursor: pointer;

}

.card {
    color: rgba(255, 255, 255, 0.912);
    background-color: rgba(44, 19, 9, 0.541);
}


.pinfoAnimation {
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

.custom-shadow-article {
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.2);
}

.bildcontainer,
.bildcontainerError {
    margin-top: -27px;
}

.backgr {
    width: 97%;
    background: rgba(77, 102, 86, 0.3);
    border-radius: 10px;
    margin-top: 140px;
    display: none;
}

#changeText {
    pointer-events: auto;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#changeText:active {
    transform: scale(1.2);
}

.clicked {
    filter: grayscale(100%);
}

.hidden {
    display: none;
}

.infoContainer {
    width: 100%;
}

.likes {
    color: #ffffff;
    font-size: 16px;
    visibility: hidden;
}

.heart {
    pointer-events: auto;
    cursor: pointer;
}



@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1.2, 1.2);
    }

    50% {
        transform: scale(1.6, 1.6);
    }

    100% {
        transform: scale(1, 1);
    }
}