.bild {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.bildcontainer,
.bildcontainerError {
    margin-top: -27px;
    width: 90%;
}

.card-head {
    color: rgba(255, 255, 255, 0.912);
    background-color: rgba(78, 74, 74, 0.311);
    font-size: 14px;
    padding: 7px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    white-space: nowrap;

}

.ptitle {
    color: rgba(255, 255, 255, 0.912);
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
}

.customContainer {
    background-color: rgb(147, 54, 54);
    border-radius: 50px;
    min-width: 95%;
}

.likes {
    color: #ffffff;
    font-size: 16px;
    visibility: hidden;
}

.heart {
    pointer-events: auto;
    cursor: pointer;
    width: 38px;
}

.pinfo {
    color: rgba(255, 255, 255, 0.912);
    background-color: rgba(78, 74, 74, 0.311);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 0px;
    font-size: 18px;
}


.ptext,
.ptextOriginal {
    color: rgba(255, 255, 255, 0.912);
    text-align: left;
    padding: 20px;
    font-size: 18px;
}

.pquestion {
    color: rgba(255, 255, 255, 0.781);
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #2e2c2a;

    padding: 5px;
    border-radius: 10px;
    pointer-events: auto;
    cursor: pointer;

    font-size: 17px;

}



@media (min-width: 768px) {
    .backgr {
        box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.4);
    }

    .bildcontainer,
    .bildcontainerError {
        width: 60%;
    }

    .card-head {
        font-size: 17px;
    }

    .ptitle {
        font-size: 23px;
        padding: 10px;
    }

    .pinfo {
        font-size: 20px;
    }

    .heart {
        width: 43px;
    }

    .ptext,
    .ptextOriginal {
        font-size: 20px;
    }

    .pquestion {
        font-size: 19px;
    }
}


@media (min-width: 1536px) {

    .bildcontainer,
    .bildcontainerError {
        width: 40%;
    }
}












.card {
    color: rgba(255, 255, 255, 0.912);
    background-color: #2e2c2ab7;
}


.pinfoAnimation {
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

.custom-shadow-article {
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.2);
}


.backgr {
    width: 97%;
    background: rgba(147, 64, 64, 0.788);
    border-radius: 10px;
    margin-top: 120px;
    display: none;
}

#changeText {
    pointer-events: auto;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#changeText:active {
    transform: scale(1.2);
}

.clicked {
    filter: grayscale(100%);
}

.hidden {
    display: none;
}

.infoContainer {
    width: 100%;
}





@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1.2, 1.2);
    }

    50% {
        transform: scale(1.6, 1.6);
    }

    100% {
        transform: scale(1, 1);
    }
}