.bild {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media (min-width: 0px) {

    .ptext,
    .ptextOriginal {
        font-size: 18px;
    }

    .ptitle {
        font-size: 20px;
        text-align: left;
    }

    .customContainer {
        width: 95%;
    }


}

@media (min-width: 450px) {
    .bildcontainer {
        width: 80%;
    }

    .ptitle {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .bildcontainer {
        width: 60%;
    }

    .backgr {
        box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.4);
    }

    .customContainer {
        width: 75% !important;
    }
}


@media (min-width: 992px) {
    .bildcontainer {
        width: 50%;
    }

    .customContainer {
        width: 80% !important;
    }

    .ptext,
    .ptextOriginal {
        font-size: 20px;
    }

    .ptitle {
        font-size: 25px;
    }
}

@media (min-width: 1500px) {
    .bildcontainer {
        width: 45%;
    }

    .customContainer {
        width: 70% !important;
    }

    .ptext,
    .ptextOriginal {
        font-size: 25px;
    }

    .ptitle {
        font-size: 30px;
    }
}


@media (min-width: 1600px) {
    .bildcontainer {
        width: 40%;
    }

    .customContainer {
        width: 60% !important;
    }

    .ptext,
    .ptextOriginal {
        font-size: 30px;
    }

    .ptitle {
        font-size: 35px;
    }
}

.customContainer {
    background-color: rgba(152, 35, 35, 0.499);
    border-radius: 50px;
}

.ptext,
.ptextOriginal {
    color: rgba(255, 255, 255, 0.912);
    text-align: left;
    padding: 20px;
}

.ptitle {
    color: rgba(255, 255, 255, 0.912);
    font-weight: bold;
    padding: 20px;
}


.custom-shadow-article {
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.2);
}

.bildcontainer {
    margin-top: -27px;
}

.backgr {
    width: 97%;
    background: rgba(77, 102, 86, 0.3);
    border-radius: 10px;
    margin-top: 80px;
    display: none;
}

#changeText {
    pointer-events: auto;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

}

#changeText:active {
    transform: scale(1.2);
}

.clicked {
    filter: grayscale(100%);
}

.hidden {
    display: none;
}

.infoContainer {
    width: 100%;
}

#changeText {
    width: 40px;
    height: 40px;
}

.heart-like-button {
    transform: scale(.3);
}


















.heart-like-button {
    position: relative;
    width: 160px;
    height: 130px;
}

.heart-like-button:before {
    position: absolute;
    top: 0;
    left: 80px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 80px;
    height: 125px;
    border-radius: 40px 40px 0 0;
    background-color: #574136;
    content: "";
    cursor: pointer;
    transition: background .4s;
}

.heart-like-button:after {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    width: 80px;
    height: 125px;
    border-radius: 40px 40px 0 0;
    background-color: #574136;
    content: "";
    cursor: pointer;
    transition: background .4s;
}

.heart-like-button.liked::before,
.heart-like-button.liked::after {
    background-color: #d65076;
}

.heart-like-button.liked {
    animation: liked .4s ease;
}

@keyframes liked {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}