.container {
    padding-top: 55px;
}

.buttonSpinner {
    display: none;
}

.buttonText {
    display: inline-block;
}

.customFontSize {
    font-size: 15px;
}

.table {
    height: 150px;
    overflow-y: scroll;
}